{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {}, // this loads <rootdir>/tsconfig.json to eslint
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["tests/**/*"],
      "rules": {
        "no-undef": "off"
      }
    },
    {
      "files": ["src/**/*.test.tsx"],
      "rules": {
        "no-undef": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "rules": {
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "lines-between-class-members": "off",
    "react/no-array-index-key": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "quotes": ["error", "single"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "warn",
      {
        "functions": false,
        "classes": false,
        "variables": false,
        "typedefs": false
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 2
        },
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 2
        },
        "ExportDeclaration": "always"
      }
    ]
  }
}
