name: Deploy
on:
  push:
    branches:
      - master

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Update env variables
        run: |
          sed -i '' 's/MAILGUN_USER=secret/MAILGUN_USER=${{ secrets.MAILGUN_USER }}/g' .env
          sed -i '' 's/MAILGUN_KEY=secret/MAILGUN_KEY=${{ secrets.MAILGUN_KEY }}/g' .env

      - name: Build and push
        env:
          MAILGUN_USER: ${{ secrets.MAILGUN_USER }}
          MAILGUN_KEY: ${{ secrets.MAILGUN_KEY }}
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: forbole/forbole-portal:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
